/* EXTERNAL CSS */
h2{
    color:blue;
}

/* UNIVERSAL SELECTOR */

* {
    border: 1px dotted gray;
}

.text-center{
    text-align: center;
}

/* ID SELECTOR */
#heading-2{
    text-align: centern;
    background-color: green;
    color:white;
}



